

<nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">SwiftGarage</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>



  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link"  href="{% url 'customer:homepage' %}">
          <i class="fa fa-home"></i>
          Home
          <span class="sr-only">(current)</span>
          </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'mechanic:mech_list' %}">
          <i class="fa fa-users"></i>
          Mechanic list
        </a>
      </li>

        <li class="nav-item">
        <a class="nav-link" href="{% url 'customer:user_recommendation_list' %}">
          <i class="fa fa-street-view"></i>
          Mechanic Suggestion
        </a>
      </li>

        <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop2" data-toggle="dropdown" class="btn btn-info btn-lg">
        <i class="fa fa-user-circle"></i>Car Issues
      </a>
      <div class="dropdown-menu">
           <a class="dropdown-item"  href="{% url 'customer:issue_add' %}">Add new Issue</a>
           <a class="dropdown-item"  href="{% url 'customer:repair_list' %}">Issue list</a>
      </div>

    </li>

        <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop5" data-toggle="dropdown" class="btn btn-info btn-lg">
         <i class="fa fa-envelope-o"></i>Contact
      </a>
      <div class="dropdown-menu">
           <a class="dropdown-item"  href="{% url 'dashboard:contact_create' %}">Add new Contact</a>
           <a class="dropdown-item"  href="{% url 'dashboard:contact_list' %}">Contact List</a>

      </div>

    </li>

        <li class="nav-item dropdown">

      <a class="nav-link dropdown-toggle" href="#" id="navbardrop6" data-toggle="dropdown">
        <i class="fa fa-car"></i>MyCars
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="{% url 'customer:vehicle_add' %}">Add New Vehicle</a>
        <a class="dropdown-item" href="{% url 'customer:vehicle_list' %}">View my Vehicles</a>
      </div>
    </li>

        {% if user.is_authenticated %}
     <li class="nav-item">
      <a class="nav-link" href="{% url 'customer:user_review_list' user.username %}"> <i class="fa fa-file"></i>Reviewed by you</a>
    </li>
      {% endif %}

     <!--<li class="nav-item">-->
      <!--<a class="nav-link" href="{% url 'reports:custdashboard' %}"><i class="fa fa-user-circle"></i>Dashboard</a>-->
    <!--</li>-->
      <li class="nav-item">
      <a class="nav-link" href="{% url 'reports:report_list' %}"><i class="fa fa-bars"></i>Report</a>
    </li>
    </ul>

  </div>
</nav>
