{% extends 'base.html' %}

{% block content %}
{% include 'accounts/customer/_header.html' with active='MyCars' %}

<div class="container-fluid">
<div class="row">
  <div class="col-sm-4">
    <div class="card">
      <div class="card-header">
        <h2>Vehicles</h2>
      </div>

        <div class="card-body">
            <p>Assigned=3</p>

           </div>
    </div>
   </div>
  <div class="col-sm-4">
   <div class="card">
      <div class="card-header">
        <h2>Service Reminders</h2>
      </div>

        <div class="card-body">
            <p>Assigned=3</p>

           </div>
    </div></div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-header">
        <h2>Vehicle Renewal Reminders</h2>
      </div>

        <div class="card-body">
            <p>Assigned=3</p>

           </div>
    </div>
  </div>

</div>

<div class="row">
  <div class="col-sm-4">
    <div class="card">
      <div class="card-header">
        <h2>Open Issues</h2>
      </div>

        <div class="card-body">
            <p>Assigned=3</p>

           </div>
    </div>
  </div>
  <div class="col-sm-8"><div id="container"></div></div>


</div>
</div>


  <script src="https://code.highcharts.com/highcharts.src.js"></script>
  <script>
    Highcharts.chart('container', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'Historic World Population by Region'
        },
        xAxis: {
            categories: ['Africa', 'America', 'Asia', 'Europe', 'Oceania']
        },
        series: [{
            name: 'Year 1800',
            data: [107, 31, 635, 203, 2]
        }, {
            name: 'Year 1900',
            data: [133, 156, 947, 408, 6]
        }, {
            name: 'Year 2012',
            data: [1052, 954, 4250, 740, 38]
        }]
    });
  </script>
{% endblock %}
