{% extends 'base.html' %}

{% block title %}

{{mechprofile.name}}
{% endblock %}

{% block content %}

{% include 'accounts/customer/_header.html' with active='MyCars' %}
<div id="container"></div>


{% if mech_list %}
<div class="row">
    {% for mech in mech_list %}
    <div class="col-xs-6 col-lg-4">
             <h4><a href="">
                 {{ mech.name }}
                 <img src='{{mech.image.url}}'  class='img-responsive'  width="200px" height="150px"/>
        </a></h4>
        <h5>{{ mech.review_set.count }} reviews</h5>
        <h5>{{ mech.average_rating | floatformat }} average rating</h5>
    </div>
    {% endfor %}
</div>
{% else %}
    <p>No mech are available.</p>
{% endif %}

{% endblock %}

<!--<div class="row">-->
    <!--{% for mechprofile in mechprofile %}-->
    <!--<div class="col-xs-6 col-lg-4">-->

     <!--<h4><a href="{% url 'mechanic:profile_detail' mechprofile.id %}">-->
        <!--{{ mechprofile.name }}-->
     <!--</a></h4>-->
        <!--<h5>{{ mechprofile.review_set.count }} reviews</h5>-->
        <!--<h5>{{ mechprofile.average_rating | floatformat }} average rating</h5>-->
    <!--</div>-->
    <!--{% empty %}-->
<!--</div>-->

    <!--<p>No  mechanic yet.</p>-->
<!--{% endfor %}-->





