{% extends 'base.html' %}
{% load bootstrap3 %}
{% load crispy_forms_tags %}
{% block title %}
<h2>{{ mechprofile.name }}</h2>
<h5>{{ mechprofile.review_set.count }} reviews ({{ mechprofile.average_rating | floatformat }} average rating)</h5>
{% endblock %}

{% block content %}
<h3>Recent reviews</h3>

{% if wine.review_set.all %}
<div class="row">
    {% for review in wine.review_set.all %}
    <div class="col-xs-6 col-lg-4">
        <em>{{ review.comment }}</em>
        <h6>Rated {{ review.rating }} of 5 by <a href="{% url 'reviews:user_review_list' review.user_name %}" >{{ review.user_name }}</a></h6>
        <h5><a href="{% url 'reviews:review_detail' review.id %}">
        Read more
        </a></h5>
    </div>
    {% endfor %}
</div>
{% else %}
<p>No reviews for this wine yet</p>
{% endif %}

<h3>Add your review</h3>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'customer:add_review' mechprofile.id %}" method="post" >
   {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-success">Save</button>

</form>
{% endblock %}
