{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
{% include 'accounts/customer/_header.html' with active='MyCars' %}


  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="">My Cars</a></li>
      <li class="breadcrumb-item active" aria-current="page">Add a new car</li>
    </ol>
  </nav>
  <h2 class="mb-3">Update Car Details</h2>
  <form method="post" enctype="multipart/form-data" novalidate>
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-success">Save</button>
    <a href="" class="btn btn-outline-secondary" role="button">Nevermind</a>
  </form>
{% endblock %}
