{% extends 'base.html' %}

{% block title %}
<a href="{% url 'customer:vehicle_detail' vehicle.pk %}"> {{vehicle.name }}</a>
{% endblock %}

{% block content %}
{% include 'accounts/customer/_header.html' with active='MyCars' %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a  href="{% url 'customer:vehicle_list' %}">Vehicle</a></li>
      <li class="breadcrumb-item active" aria-current="page">Vehicles Detail</li>
    </ol>
  </nav>
<div class="container-fluid">
    <div class="row">
 <a href="{% url 'customer:vehicle_add' %}" class="btn btn-primary mb-3 float-right" ><i class="fa fa-edit"></i>  Edit Car</a>
 <a href="{% url 'customer:vehicle_add' %}" class="btn btn-danger mb-3 float-right" ><i class="fa fa-delete"></i> Delete</a>
</div>
    <div class="row">
        <div class="col-sm-6" >
             {% if vehicle.image %}
         <img src='{{ vehicle.image.url }}' class='img-responsive'  height="90" width="150"/><h6>{{vehicle.vehicle_name}}</h6>
        {% endif %}
             {% ifequal vehicle.status 'Active' %}
              <span class="badge badge-primary">Active</span>
          {% endifequal %}
            {% ifequal vehicle.status 'Inactive' %}
              <span class="badge badge-danger">Inactive</span>
          {% endifequal %}
        </div>
         <div class="col-sm-3">
             <p>Number Plate:{{vehicle.number_plate}}</p>
             <p>Car Make:{{vehicle.make}}</p>
             <p>Car Model:{{vehicle.model}}</p>
             <p>Ownership:{{vehicle.ownership}}</p>
             <p>Car Name:{{vehicle.image1}}</p>

        </div>


    </div>

</div>

{% endblock %}
