{% extends 'base.html' %}

{% block content %}
<h2>Manage my Cars</h2>

  <a href="" class="btn btn-primary mb-3" role="button">Add New Car</a>
<div class="card">
    <table class="table mb-0">
      <thead>
        <tr>
          <th>Photo</th>
          <th>Update</th>
        </tr>
      </thead>
      <tbody>
        {% for profile in mechprofile %}
          <tr>
             <td class="align-middle">{{ profile.profile_photo }}</td>
            <td><a href="{% url 'mechanic:profile_change' profile.pk %}">{{ profile.garage_name }}</a></td>
              <!--&lt;!&ndash;<td class="text-right">&ndash;&gt;-->
              <!--<a href="" class="btn btn-primary">Start quiz</a>-->
            <!--</td>-->
          </tr>s
        {% empty %}
          <tr>
            <td class="bg-light text-center font-italic" colspan="4">No quiz matching your interests right now.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}


