<h2>Manage My Cars</h2>

<ul class="nav nav-tabs mb-3">
  <li class="nav-item">
    <a class="nav-link{% if active == 'MyCars' %} active{% endif %}" href="{% url 'customer:quiz_list' %}">MyCars</a>
  </li>
  <li class="nav-item">
    <a class="nav-link{% if active == 'taken' %} active{% endif %}" href="{% url 'customer:vehicle_add' %}">Add Vheicle</a>
  </li>
  <li class="nav-item">
    <a class="nav-link{% if active == 'Car history' %} active{% endif %}" href="{% url 'customer:history_list' %}">Car history</a>
  </li>
   <li class="nav-item">
    <a class="nav-link{% if active == 'Review' %} active{% endif %}" href="">Review add</a>
  </li>
  <li class="nav-item">
    <a class="nav-link{% if active == 'Review' %} active{% endif %}" href="{% url 'customer:user_recommendation_list' %}">Mechanic Suggestion</a>
  </li>
  <li class="nav-item">
    <a class="nav-link{% if active == 'Review' %} active{% endif %}" href="{% url 'customer:mech_list' %}">Mechanic list</a>
  </li>
</ul>
